<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <a href="/" style="position: absolute; top: 10px; left: 10px;">Home</a>
    <h1>Questions</h1>
    <div id="questions-container">
        {% for idea in ideas %}
        <div class="idea-card">
            <h3>{{ idea.title }}</h3>
            <ul class="card-description list-unstyled">
                {% if idea.description %}
                {% for line in idea.description.split('\n') %}
                {% if line.strip() %}
                <li>{{ line }}</li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>
