<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote on Questions</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
</head>
<body>
    <a href="/" style="position: absolute; top: 10px; left: 10px;">Home</a>
    <h1>Vote on Questions</h1>
    <div id="ideas-container"></div>
</body>
</html>
